{% extends "base.html" %} <!-- Hérite du modèle de base pour inclure les éléments communs de style et de navigation. -->

{% block content %} <!-- Début du bloc de contenu spécifique à cette page. -->
<div class="container"> <!-- Conteneur principal pour le contenu de la page. -->
    <h1>Connexion</h1> <!-- Titre de la page. -->
    <form action="{{ url_for('login') }}" method="post">
        <!-- Formulaire de connexion qui soumet les données à la route 'login' de l'application Flask. -->
        <div class="form-group"> <!-- Groupe de formulaire pour l'email. -->
            <label for="email">Email :</label> <!-- Étiquette pour le champ d'email. -->
            <input type="email" id="email" name="email" required>
            <!-- Champ de saisie pour l'email. Requis pour la soumission du formulaire. -->
        </div>
        <div class="form-group"> <!-- Groupe de formulaire pour le mot de passe. -->
            <label for="password">Mot de passe :</label> <!-- Étiquette pour le champ de mot de passe. -->
            <input type="password" id="password" name="password" required>
            <!-- Champ de saisie pour le mot de passe. Masqué pour la confidentialité. Requis pour la soumission du formulaire. -->
        </div>
        <button type="submit">Connexion</button> <!-- Bouton pour soumettre le formulaire et tenter une connexion. -->
    </form>
</div>
{% endblock %} <!-- Fin du bloc de contenu spécifique. -->